* {
	margin: 0;
	padding: 0;
	font-family: 'Patrick Hand SC', cursive;
}
div {
	height: auto;
	box-sizing: border-box;
	color: cadetblue;
	padding: 10px;
	margin: 10px auto;
	font-size: 1.2em;
}
.wrapper {
	width: 300px;
	box-shadow: 1px 1px 25px #d1cfcf;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
}
#location {
	width: 250px;
	text-align: center;
}
#main {
	width: 250px;
	text-align: center;
}
#iconpanel {
	width: 250px;
	text-align: center;
}
h1 {
	margin: 20px auto;
	text-align: center;
	color: cadetblue;
}
img {
	width: 100px;
	height: 100px;
}
button {
	font-family: 'Patrick Hand SC', cursive;
	padding: 5px;
	border-radius: 5px;
	width: 50%;
	margin: 10px auto;
	background-color: cadetblue;
	color: aliceblue;
	font-size: 0.8em;
}